@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jua&family=Yeon+Sung&display=swap');
html{
    height: 100vh;
    width: 100vw;
    font-family: 'Yeon Sung', 'Jua', sans-serif;
}
body{
    height: 100vh;
    width: 100vw;
    text-align: center;
    display: flex;
    margin: 0;
    flex-direction: column;
    color:lavenderblush;
}

#inputLogin{
    outline-style:none;
    font-size: 8vw;
    border: none;
    background: none;
    color: rgb(255, 225, 251);
    width: 40vw;
    font-family: 'Jua', sans-serif;
}

#inputToDo{
    outline: 0vh;
    font-size: 3vw;
    border: none;
    background: none;
    color: rgb(255, 225, 251);
    width: 23vw;
    font-family: 'Jua', sans-serif;
    
}
ul{
    list-style:georgian;
    justify-items:normal;
}
button{
    background: none;
    border: none;
}

/*
li{
    background-color: none;
    cursor: pointer;
}

li{
    line-height: 5vw;
    height: 2vw;
    text-align: center;
    width: 5vw;
    cursor: pointer;
    transition: all 0.5s;
    position: relative; 
}
li span {
    z-index: 2; 
    display: block;
    position: absolute;
    width: 100%;
    height: 100%; 
}
li::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 0.5s;
    border: 1px solid rgba(255,255,255,0.2);
    background-color: rgba(255,255,255,0.1);
}
li::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 0.5s;
    border: 1px solid rgba(255,255,255,0.2);
    background-color: rgba(255,255,255,0.1);
}
li:hover::before {
    transform: rotate(-45deg);
    background-color: rgba(255,255,255,0);
}
li:hover::after {
    transform: rotate(45deg);
    background-color: rgba(255,255,255,0);
}
*/

heading{
    display: flex;
    width: 100vw;
    height: 20vh;
    justify-items: flex-start;
}

sec1, sec2{
    height: 20vh;
}
sec1{
    width: 70vw;
}
sec2{
    width: 30vw;
}
#weather{
    display: flex;
    flex-direction: column;
    font-size: 4vh;


}
middle{
    display: flex;
    width: 100vw;
    flex-grow: 1;
    
    flex-direction: row;

}
Inmiddle1{
    display: flex;
    flex-direction: column;
    width: 65vw;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: 5vw;
}

InInmiddle1{
    flex-grow: 1;
    font-size: 5vw;
}
InInmiddle2{
    flex-grow: 1;
    font-size: 3vw;
}
InInmiddle3{
    flex-grow: 4;
    font-size: 2vw;
    justify-content: center;

}

Inmiddle2{
    width: 25vw;
    font-size: 3vw;
    margin-left: 5vw;
}


h2{
    margin: 0vh;
}
#quote{
    font-size: 3vw;
    font-style: italic;

}
.hidden {
    display: none;
}